    <!-- login form -->
    <section class="hero is-fullheight" id="form">
        <div class="hero-body">
            <div class="container is-bordered box is-desktop px-5 py-6">
                <div class="title has-text-centered">
                    <strong>Gift Fairy Login</strong>
                </div>
                <p class="is-size-6-fullhd has-text-centered is-mobile pb-3">Welcome back, let's find your wishlist!</p>
                <div class="columns is-multiline is-centered">
                    <!-- registration form -->
                    <div class="column is-bordered is-6 is-centered">
                        <form id="fs-frm" action="" method="POST" name="login-form" accept-charset="utf-8">
                            <!-- email address input -->
                            <div class="py-5">
                                <label for="email-address" class="title">Email Address</label>
                                <div class="field">
                                    <input type="email" name="replyto" id="email-address"
                                        placeholder="e.g. jane@gmail.com" required="">
                                </div>
                            </div>
                            <!-- password field - do we need validation? -->
                            <div class="field">
                                <label for="" class="label">Password</label>
                                <input type="password" id="password-login" placeholder="*******" class="input"
                                    required="">
                            </div>
                            <div class="pt-3 has-text-centered">
                                <input type="submit" class="" value="Login" id="account-login">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>