<!-- hero with navbar -->
<section class="hero is-small">
    <div class="hero-body">
        <div class="container is-fullhd">
            <!-- navbar -->
            <nav class="navbar">
                <div class="container pl-4">
                    <!-- app logo -->
                    <div class="navbar-brand">
                        <figure class="image" style="width: 150px;">
                            <a href="/"><img class="navbar-item" src="/img/logo-gift-fairy.png"></a>
                        </figure>
                    </div>
                </div>

                <!-- mobile active signup/create buttons aligned right -->
                <div id="navbarMenuHeroA" class="navbar-menu  is-active">
                    <div class="navbar-end">
                        <div class="navbar-item is-active">
                            <div class="field is-grouped">
                                <div class="buttons">
                                    <a href="/register" class="button" data-aos="flip-left" data-aos-duration="1500"
                                        id="profile">
                                        <strong>Create a profile</strong>
                                    </a>
                                    <a href="/login" class="button is-inverted" data-aos="flip-left"
                                        data-aos-duration="1500" id="login">
                                        <strong>Login</strong>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

    

    </div>
</section>

<hr>