<!-- gift fairy process section -->
<section id="process-container">
    <div class="tile is-ancestor">
        <div class="tile is-12 py-5 px-5 mg-medium">
            <div class="tile is-parent is-4">
                <div class="container">
                    <article class="tile is-child notification has-text-centered tile-shadow">
                        <a href="/register">
                        <p class="title">Create a Profile</p>
                        <figure class="image is-4by3 is-centered">
                            <img src="/img/tile-image-create-a-profile.png">
                        </figure>
                        </a>
                    </article>
                </div>
            </div>
            <div class="tile is-parent is-4">
                <article class="tile is-child notification has-text-centered tile-shadow ">
                    <a href="/list">
                        <p class="title">Make a List</p>
                        <!-- <i class="fas fa-list-ol fa-5x"></i> -->
                        <figure class="image is-4by3 is-centered">
                            <img src="/img/tile-make-a-list.png">
                        </figure>
                    </a>
                </article>
            </div>
            <div class="tile is-parent is-4">
                <article class="tile is-child notification has-text-centered tile-shadow">
                    <a href="/list/{{id}}">
                    <p class="title">View the List</p>
                    <figure class="image is-4by3 is-centered">
                        <img src="/img/tile-share-the-list.png">
                    </figure>
                    </a>
                </article>
            </div>
        </div>
    </div>
</section>