<!-- showing profiles carousel or slider -->
<section id="profile-container">
    <div class="columns is-centered" data-aos="fade-left" data-aos-delay="500" data-aos-duration="2500">
        <div class="column is-10 pt-6">
            <article class="message">
                <!-- <div class="message-header"></div> -->
                <div class="message-body">
                    <p>"We have 6 popular individuals and the gifts that they would love to get.
                        If you think you're similar to one of these people, then select profile to jump-start
                        your profile setup"</p>
                </div>
            </article>
        </div>
    </div>

    <!-- carousel begins -->
     <div class="container is-clipped">
            <div id="carousel-slider" class="carousel  is-primary">

 <div class=" columns is-multiline">
                <div class="card column is-half is-offset-one-quarter">
                    <div class='card-image'>
                            <figure class="image is-4by3 is-covered">
                            <img class="" src="/img/board-game-fanatic.jpg" alt="" />
                        </figure>
                        <p class="card-header-title is-centered">
                            Board game fanatics, click here!
                        </p>
                    </div>
                </div>
            </div>

          <div class=" columns is-multiline">
                <div class="card column is-half is-offset-one-quarter">
                    <div class='card-image'>
                            <figure class="image is-4by3 is-covered">
                            <img src="/img/coder.jpg" alt="" />
                        </figure>
                        <p class="card-header-title is-centered">
                            Impress that coder in your life with this list!
                        </p>
                    </div>
                </div>
            </div>

           <div class=" columns is-multiline">
                <div class="card column is-half is-offset-one-quarter">
                    <div class='card-image'>
                            <figure class="image is-4by3 is-covered">
                            <img src="/img/hipster.jpg" alt="" />
                        </figure>
                        <p class="card-header-title is-centered">
                            Be unique and check out the Hipster Santa list!
                        </p>
                    </div>
                </div>
            </div>

           <div class=" columns is-multiline">
                <div class="card column is-half is-offset-one-quarter">
                    <div class='card-image'>
                            <figure class="image is-4by3 is-covered">
                            <img src="/img/gamer.jpg" alt="" />
                        </figure>
                        <p class="card-header-title is-centered">
                            Gamers unite! Click here for the list!
                        </p>
                    </div>
                </div>
            </div>


            <div class=" columns is-multiline">
                <div class="card column is-half is-offset-one-quarter">
                    <div class='card-image'>
                            <figure class="image is-4by3 is-covered">
                            <img src="/img/baker.jpg" alt="" />
                        </figure>
                        <p class="card-header-title is-centered">
                            Whip up something good with this list for bakers!
                        </p>
                    </div>
                </div>
            </div>





        </div>
    </div>
</section>