        <!-- add individual details -->
        <div class="container" id="userdetails">
            <div class="title has-text-centered"><strong>Make it easier for your friends and family to get you
                    gifts:</strong>
            </div>
            <form class="is-10 is-multiline is-centered is-mobile">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Shoe Size</label>
                    </div>
                    <div class="field-body is-2">
                        <div class="field">
                            <input type="text" value='{{data.shoe_size}}' placeholder="9" id="shoe-size" class="input">
                        </div>
                        <div class="field-label is-normal">
                            <label class="label">Shirt Size:</label>
                        </div>
                        <p>
                        <div class="field">
                            <input id="shirt-size" value='{{data.shirt_size}}' class="input" type="text" placeholder="L">
                        </div>
                        </p>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Favorite Colors:</label>
                    </div>
                    <div class="field-body is-3">
                        <div class="field">
                            <input type="text" value='{{data.favorite_color}}' placeholder="Red, White, and Blue" id="favorite-color" class="input">
                        </div>
                        <div class="field-label is-normal">
                            <label class="label">Favorite Brands:</label>
                        </div>
                        <p>
                        <div class="field">
                            <input id="favorite-brand" value='{{data.favorite_brand}}' class="input" type="text" placeholder="Nike, Disney, and Square Enix">
                        </div>
                        </p>
                    </div>
                </div>
            </form>
        </div>