<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gift Fairy</title>
    <!-- css stylesheets -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />
    <!-- AOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/css/bulma-carousel.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/wishlist.css" />

    <!-- scripts -->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/js/bulma-carousel.min.js"></script>
    <script defer src="/js/scripts.js"></script>

</head>

<body>
    {{#if loggedin}}
    {{>logout}}
    {{else}}
    {{>loginheader}}
    {{/if}}
    <!-- hero section image, video or gif -->
    {{!-- <div class="hero-body"> --}}
    <div class="container is-fullhd">
        <!-- "is-16by9" for mobile friendly dimensions -->
        <figure class="image is-3by1">
            <img class="has-ratio" src="/img/hero-image-gift-computer.png">
        </figure>
    </div>

    <div class="container">
        {{{body}}}
    </div>

    {{> process}}

{{!-- Profiles page is not complete. Commenting out for current iteration. --}}
    {{!-- {{> profiles}} --}}

    {{>footer}}

    <!-- bulma calendar ext in case we need it -> 'https://creativebulma.net/product/calendar/demo' -->
    <script src="~bulma-calendar/dist/js/bulma-calendar.min.js"></script>
    <!-- carousel plugin for bulma -->
    <script type="text/javascript"
        src="/node_modules/bulma-extensions/bulma-carousel/dist/bulma-carousel.min.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/logout.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/js/bulma-carousel.min.js"></script>

    <!-- AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>